---
handlers:
  - name: mariadb service handler
    service: 
      name: mysql
      state: restarted

  - name: memcache service handler
    service: 
      name: memcached 
      state: restarted

  - name: etcd service handler
    service: 
      name: etcd 
      state: restarted

  - name: apache2 service handler
    service: 
      name: apache2 
      state: restarted
